{% extends 'base.html' %}


{% block content %}

<div class="container">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
					<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
				</div>
				<h3 class="user-name">{{ user.full_name }}</h3>
                <h5>@{{ user.username }}</h5>
                {% if user.email %}
                    <h5 class="user-email">{{ user.email }}</h5>
                {% else %}
                    <h5>No email specified.</h5>
                {% endif %}
			</div>
			<div class="about">
                {% if user.about %}
                    <h4>About</h4>
                    <p>{{ user.about }}</p>
                {% else %}
                    <h5>No about info.</h5>
                {% endif %}
			</div>
		</div>
	</div>
</div>
</div>

{% block details %}{% endblock %}

{% endblock %}