{% load static %}

<head>
    <link href="{% static 'css/register_form_style.css' %}" rel="stylesheet">
    <title>Register User</title>
</head>

<body>
    <div class="container">
        <h1 class="header">Sign Up</h1>
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-fields">

                <label for="id_full-name" class="required">Full Name</label>
                {{ form.full_name }}
                {% if form.full_name.errors %}
                <ul class="error-list">
                    {% for error in form.full_name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label for="id_username" class="required">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                <ul class="error-list">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label for="id_email">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                <ul class="error-list">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label for="id_password1" class="required">Password</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <ul class="error-list">
                    {% for error in form.password1.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label for="id_password2" class="required">Confirm Password</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <ul class="error-list">
                    {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label for="id_website">Website</label>
                {{ form.website }}
                {% if form.website.errors %}
                <ul class="error-list">
                    {% for error in form.website.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label for="id_profile-pic">Profile pic: {{ form.profile_pic }}</label>
                {% if form.profile_pic.errors %}
                <ul class="error-list">
                    {% for error in form.profile_pic.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>